.l-footer{

    width: 100%;
    height: 140px;
    background-color: #325dff;
    display: flex;
    align-items: center;
    justify-content: center;

    address{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;

    }
}